<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto Creado</title>
</head>
<body>
    Contacto creado correctamente


    Datos del contacto:
    <ul>
        <li>Nombre: {{ contacto.nombre }}</li>
        <li>Apellidos: {{ contacto.apellidos }}</li>
        <li>Teléfono: {{ contacto.telefono }}</li>
        <li>Email: {{ contacto.mail }}</li>
    </ul>
    
    <button><a href="/">Volver a la página principal</a></button>
</body>
</html>