<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
</head>
<body>

    <h1>Lista de Contactos</h1>
    <ul>
        {% for contacto in contactos %}
            <li>{{ contacto.nombre }} {{ contacto.apellidos }} - {{ contacto.telefono }} - {{ contacto.mail }}</li>
        {% endfor %}
    </ul>

    <button><a href="/">Volver a la página principal</a></button>
    
</body>
</html>