<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de contactos</title>
</head>
<body>

    Gestión de contactos
    <button><a href="/add_contact">Añadir contacto</a></button>
    <button><a href="/list_contacts">Listar contactos</a></button>
    <button><a href="/delete_contact">Eliminar contacto</a></button>
    <button><a href="/update_contact">Actualizar contacto</a></button>
    <button><a href="/search_contact">Buscar contacto</a></button>
</body>
</html>